<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controllers.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inicioSesionController</servlet-name>
        <servlet-class>controllers.inicioSesionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaArticulosController</servlet-name>
        <servlet-class>controllers.altaArticulosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarProductoController</servlet-name>
        <servlet-class>controllers.editarProductoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProductoController</servlet-name>
        <servlet-class>controllers.deleteProductoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inicioSesionController</servlet-name>
        <url-pattern>/inicioSesionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaArticulosController</servlet-name>
        <url-pattern>/altaArticulosController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarProductoController</servlet-name>
        <url-pattern>/editarProductoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProductoController</servlet-name>
        <url-pattern>/deleteProductoController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <dependency>
        <groupId>javax.servlet</groupId>
        <artifactId>jstl</artifactId>
        <version>1.2</version>
    </dependency>
</web-app>
